<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Housetech</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            text-align: center;
            padding-top: 20%;
        }
        h1 {
            font-size: 3em;
            color: #333;
            text-shadow: 2px 2px 4px #888;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.5em;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Housetech</h1>

        <p>You can see the documents for APIs in this link <a href='https://documenter.getpostman.com/view/26372744/2sA2xnxABh'>APIs Documents</a></p>
    </div>
</body>
</html>
